log/*
lib/ffmpeg/*
demo/*
lib/gifsicle/gifdiff.exe
lib/gifsicle/gifsicle.exe
lib/gifsicle/input.gif
lib/gifsicle/inputbig.gif
lib/gifsicle/inputrealbig.gif
lib/gifsicle/output.gif
lib/gifsicle/doc/COPYING
lib/gifsicle/doc/gifdiff.html
lib/gifsicle/doc/gifsicle.html
DC-Awareness_Display-Ad-07_160x600_optimized.gif
DC-Awareness_Display-Ad-07_300x250_optimized.gif
DC-Awareness_Display-Ad-07_300x600_optimized.gif
DC-Awareness_Display-Ad-07_320x50_optimized.gif
DC-Awareness_Display-Ad-07_620x250_optimized.gif
DC-Awareness_Display-Ad-07_728x90_optimized.gif
DC-Awareness_Display-Ad-07_970x250_optimized.gif
DC-Awareness_Display-Ad-07_970x550_optimized.gif
